<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/static/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/css/password.css}" href="../static/css/password.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/css/validform.css}" href="../static/css/validform.css" rel="stylesheet" type="text/css"/>
        <script text="text/javascript" th:src="@{/static/scripts/jquery/jquery-1.11.3.min.js}" src="../static/scripts/jquery/jquery-1.11.3.min.js"></script>
        <script text="text/javascript" th:src="@{/static/scripts/ie/html5shiv.js}" src="../static/scripts/ie/html5shiv.js"></script>
        <script text="text/javascript" th:src="@{/static/scripts/password.js}" src="../static/scripts/password.js"></script>
        <script text="text/javascript" th:src="@{/static/scripts/validform/Validform_v5.3.2_min.js}" src="../static/scripts/validform/Validform_v5.3.2_min.js"></script>
    </head>
    <body>
       <header class="header">
           <div class="center">
               <div class="reset_title">重置密码只需3个简单的步骤</div>
               <ul class="circle">
                   <li class="c1">1</li>
                   <li class="c2">2</li>
                   <li class="c3">3</li>
               </ul>
               <ul class="procedure_text">
                   <li class="f1">确认帐号</li>
                   <li class="f2">安全验证</li>
                   <li class="f3">重置密码</li>
               </ul>
           </div>
       </header>
       <div class="container" layout:fragment="content"></div>
       <footer class="footer">
           <div class="center">
               <div class="foot-size">客服电话：400-880-5056        客服邮箱：Help@hsjc.com.cn</div>
               <div class="foot-size">共筑教育云平台 ,创建教育新模式</div>
               <div class="foot-size">Copyright ©华师京城网络科技股份有限公司  沪IC备10208270号-3</div>
               <div class="android">
                   <img src="../../static/images/yun/android.png"/>
                   <span>For  Android</span>
               </div>
               <div class="ios">
                   <img src="../../static/images/yun/ios.png"/>
                   <span>For  IOS</span>
               </div>
           </div>
       </footer>
    </body>
</html>