<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/backstage">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="refresh" content="3;url=/page/sso/userList/1,10,0,0,0,0,0.html"/>
    <title>管理员新增用户成功</title>
    <style type="text/css">
        div font {
            color : #F00;
            font-size : 18px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div id="content" layout:fragment="content">
        新增用户<font>成功</font>! 3秒后自动跳转到用户列表
    </div>
</body>
</html>