<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/backstage">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="refresh" content="3;url=/page/sso/adminList/1,10,0.html"/>
    <title>新增管理员成功</title>
    <style type="text/css">
        div font {
            color : #F00;
            font-size : 18px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div id="content" layout:fragment="content">
        新增管理员<font>成功</font>! 3秒后自动跳转到管理员列表
    </div>
</body>
</html>