<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/backstage">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="refresh" content="3;url=/page/sso/invitationManage/1,10,0,0,0,0.html"/>
    <title>邀请码生成成功</title>
    <style type="text/css">
        div font{
            color : #F00;
            font-size : 18px;
        }
    </style>
</head>
<body>
    <div id="content" layout:fragment="content">
        邀请码<font>生成成功</font>!3秒后自动跳转到邀请码管理页面
    </div>
</body>
</html>