<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/yun">
<head>
    <link th:href="@{/static/css/validform.css}" href="../../../static/css/validform.css" rel="stylesheet" type="text/css"/>
    <script text="text/javascript" th:src="@{/static/scripts/jquery/jquery-1.11.3.min.js}" src="../../../static/scripts/jquery/jquery-1.11.3.min.js"></script>
    <script text="text/javascript" th:src="@{/static/scripts/ie/html5shiv.js}" src="../../../static/scripts/ie/html5shiv.js"></script>
    <script text="text/javascript" th:src="@{/static/scripts/ie/placeholder.js}"  src="../../../static/scripts/ie/placeholder.js"></script>
    <script text="text/javascript" th:src="@{/static/scripts/validform/Validform_v5.3.2_min.js}" src="../../../static/scripts/validform/Validform_v5.3.2_min.js"></script>
</head>
<body>
<div id="content" layout:fragment="content">
    <div class="password_box">
        <form class="resetPwdForm" action="/sso/modifyPassword.json" method="post">
            <div class="password_label">
                <div class="password_font">旧密码</div>
                <input type="password" name="old_password" class="password"/>

            </div>
            <div class="password_label">
                <div class="password_font">新密码</div>
                <input type="password" name="password" errormsg="密码至少6个字符,最多18个字符！" class="password"/>
            </div>
            <div class="password_label">
                <div class="password_font">确认密码</div>
                <input type="password" name="repassword" datatype="*" recheck="password" class="password" errormsg="两次输入的密码不一致！"/>
            </div>
            <input type="submit" class="save" value="保存"/>
        </form>
        <span></span>
    </div>

    <script type="text/javascript" th:src="@{/static/scripts/yun/password.js}" src="/static/scripts/yun/password.js"></script>
</div>
</body>
</html>