<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/resetPassWord">
    <head>
        <style type="text/css">

        </style>
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <div class="center">
                <form action="passwordThree.html" method="post">
                    <div class="transmitted">验证信息已发送至邮箱123***@qq.com!</div>
                    <div class="operate">
                        <input type="text" required="required" onfocus="true" placeholder="请输入验证码" />
                        <input type="button" class="send"/>
                    </div>
                    <input type="submit" value="下一步" class="submit"/>
                </form>
            </div>
            <script type="text/javascript">
                $(function(){
                    $('.circle li.c1').html('');
                    $('.circle li.c1').addClass('selected2');
                    $('.circle li.c2').addClass('selected1');

                    $('.procedure_text li.f1').addClass('selected2');
                    $('.procedure_text li.f2').addClass('selected1');

                    var i=5;
                    var timer=null;
                    $('.send').val(i+'秒后可重新发送');

                    function second(){
                        clearInterval(timer);
                       var timer=setInterval(function(){
                           if(i!=1){
                               i--;
                               $('.send').val(i+'秒后可重新发送');
                           }else{
                               clearInterval(timer);
                               i=5;
                               $('.send').val(i+'秒后可重新发送');
                           }
                       },1000);
                    };

                    second();

                    $('.send').click(function(){
                        second();
                   });

                });
            </script>
        </div>
    </body>
</html>