<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/resetPassWord">
    <head>
        <style>
            .Validform_checktip{
                height: 36px;
                line-height: 36px;

            }
            .Validform_right{
                width:60px;
                display:block;
                background: url("../../../static/images/register/correct.png") no-repeat scroll 10px center;
            }
            .pace input.Validform_error {
                border: 1px solid #f65a5b;
            }
        </style>
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <div class="center">
                <form action="passwordTwo.html" method="post" class="demoform">
                    <div class="pace">
                        <div class="pace_name">手机号</div>
                        <input type="text"  class="text" autocomplete="on" autofocus="true" required="required"/>
                    </div>
                    <div class="pace">
                        <div class="pace_name">验证码</div>
                        <input type="text" class="verification_code"  required="required" placeholder="请输入验证码"/>
                        <img src="" class="invitation_img"/>
                        <input type="button" class="cut" value="换一张"/>
                    </div>
                    <input type="submit" value="下一步" class="submit"/>
                </form>
            </div>
            <script type="text/javascript">
                $(function(){

                    $('.circle li.c1').addClass('selected1');

                    $('.procedure_text li.f1').addClass('selected1');

                    var demo=$(".demoform").Validform({
                        tiptype:4,
                        showAllError:true,
                        datatype:{
                            "n11":/^\d{11}$/,
                        },

                    });
                    demo.tipmsg.w["n11"]=" ";

                    demo.addRule([{
                        ele : ".text:eq(0)",
                        datatype : "n11"
                    }]);
                });
            </script>
        </div>
    </body>
</html>