<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/resetPassWord">
    <head>
        <style type="text/css">
            .Validform_checktip{
                height: 36px;
                line-height: 36px;

            }
            .Validform_right{
                width:60px;
                display:block;
                background: url("../../../static/images/register/correct.png") no-repeat scroll 10px center;
            }
        </style>
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <div class="center">
                <form action="" method="post" class="demoform">
                    <div class="pace">
                        <div class="pace_name" >原密码</div>
                        <input type="password" class="password" autofocus="true" required="required" placeholder="输入6~14位字符"/>
                    </div>
                    <div class="pace">
                        <div class="pace_name" >确认密码</div>
                        <input type="password" required="required" class="password2" />
                    </div>
                    <input type="submit" value="下一步" class="submit"/>
                </form>
            </div>
            <script type="text/javascript">
                $(function(){

                    $('.circle li.c1').html('');
                    $('.circle li.c2').html('');

                    $('.circle li.c1').addClass('selected2');
                    $('.circle li.c2').addClass('selected2');
                    $('.circle li.c3').addClass('selected1');

                    $('.procedure_text li.f1').addClass('selected2');
                    $('.procedure_text li.f2').addClass('selected2');
                    $('.procedure_text li.f3').addClass('selected1');


                    var demo=$(".demoform").Validform({
                        tiptype:4,
                        showAllError:true,
                        datatype:{
                            "s6-18":/^[\w\.\s]{6,14}$/
                        },

                    });
                    demo.tipmsg.w["s6-14"]=" ";

                    demo.addRule([{
                        ele : ".password",
                        datatype : "s6-14"
                    },{
                        ele : ".password2",
                        datatype : "s6-14",
                    }

                    ]);

                });
            </script>
        </div>
    </body>
</html>