*{
    padding:0;
    margin:0;
}

ul,ol{
    list-style: none;
    overflow: hidden;
}

table{
    border-collapse:collapse;

}

input,textarea{
    outline:0 none;
    display: block;
    box-shadow:none;

}

div{
    overflow: hidden;
}

a{
    text-decoration: none;
}

.header{
    background-color: #323232;
    width:100%;

}

header .center{
    width:960px;
    margin:0 auto 0;
}

.reset_title{
    height:70px;
    line-height:70px;
    color:#828282;
    font-size: 22px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    text-align: left;
}

.circle{
    width:1360px;
    height:48px;
}

.circle li{
    width:64px;
    height:48px;
    line-height: 48px;
    float:left;
    background: url(../images/password/circle1.png) no-repeat top center;
    margin-right:380px;
    text-align: center;
    color:#828282;
    font-size: 24px;
    font-family: \5FAE\8F6F\96C5\9ED1;
}

.circle li.selected1{
    background: url(../images/password/circle2.png) no-repeat top center;
    color:#323232;
}

.circle li.selected2{
    background: url(../images/password/circle3.png) no-repeat top center;
}

.procedure_text{
    width:1360px;
    height:40px;

}

.procedure_text li{
    line-height:40px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color:#828282;
    font-size:16px;
    float:left;
    margin-right:380px;
    width:64px;
}

.procedure_text li.selected1{
color:#ffad00;
}

.procedure_text li.selected2{
    color:#ffffff;
}

.container{
    width:100%;
    background: #f4f4f4;
}

.container .center{
    width:980px;

}

.pace{
    width:410px;
    height:36px;
    margin:20px auto 0;
}

.pace_name{
    width:70px;
    float:left;
    height:36px;
    line-height: 36px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color:#323232;
}

.pace input.text{
    width:268px;
    height:34px;
    line-height: 34px;
    float:left;
    border: 1px solid #323232;
    border-radius:5px;
    background: none;
    text-indent:20px;
    color:#364049;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
}

.pace input.text:focus{
    border: 1px solid #ffad00;
    background: none;
}

.verification_code{
    width:108px;
    height:34px;
    line-height: 34px;
    float:left;
    margin-right:15px;
    border: 1px solid #323232;
    border-radius:5px;
    background: none;
    text-indent:10px;
    color:#828282;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
}

.verification_code:focus{
    border: 1px solid #ffad00;
    background: none;
}

.invitation_img{
    width:145px;
    height:36px;
    line-height:36px;
    float:left;
    margin-right:10px;
}

.cut{
    height:36px;
    line-height:36px;
    float:left;
    color:#f65a5b;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
   border:none;
    background: none;
}

.operate{
    width:270px;
    margin:20px auto 0;
}

.operate input{
    width:108px;
    float:left;
    height:34px;
    line-height:34px;
    color:#828282;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    border:1px solid #323232;
    text-align: center;
    border-radius: 5px;
    background: none;
}

input.send{
    width:145px;
    float:right;
    height:34px;
    line-height: 34px;
    color:#00b6e3;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    border:1px solid #00b6e3;
    text-align: center;
    border-radius: 5px;
    background: none;
}

.submit{
    width:268px;
    height:36px;
    line-height:36px;
    border: none;
    background-color: #ffad00;
    border:none;
    border-radius:5px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size:14px;
    color:#ffffff;
    margin:40px auto 0;
}

.transmitted{
    width:100%;
    height:18px;
    line-height:18px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size:16px;
    color:#364049;
    text-align: center;
}

.password{
    width:268px;
    height:36px;
    line-height: 36px;
    float:left;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size:16px;
    color:#364049;
    text-indent:20px;
    border-radius: 5px;
    border:1px solid #323232;
    background: none;
}


.password2{
    width:268px;
    height:36px;
    line-height: 36px;
    float:left;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size:16px;
    color:#364049;
    text-indent:20px;
    border-radius: 5px;
    border:1px solid #323232;
    background: none;

}

.password:focus{
    border:1px solid #ffad00;
}

.password2:focus{
    border:1px solid #ffad00;
}

.footer{
    background-color: #323232;
}

.footer .center{
    width:1000px;

    margin:0 auto;
    padding:30px 0;
    position: relative;
}

.foot-size{
    height:28px;
    line-height: 28px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    white-space: pre;
    color:#959595;
    font-size: 14px;
    text-align: center;
}

.footer .center span{
    height:30px;
    line-height: 30px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    white-space: pre;
    text-align: center;
    color:#959595;
    display:block;
    font-size: 14px;
}

.footer .center img{
    width:94px;
    height:94px;
    display:block;
}

.android{
    width:94px;
    position: absolute;
    right:0;
    top:20px;
}

.ios{
    width:94px;
    position: absolute;
    right:140px;
    top:20px;
}