*{
    padding:0;
    margin:0;
}

ul,ol{
    list-style: none;
    overflow: hidden;
}

input,textarea{
    outline: 0;
    display: block;
}

div{
    overflow: hidden;
}

a{
    text-decoration: none;
}

.header{
    width: 100%;
    height:50px;
    background-color: #323232;
}

.header .center{
   width:960px;
    margin:0 auto;

}

.label-info{
    height:50px;
    line-height: 50px;
    float:left;
    font-size: 16px;
    color: #fff;
    font-family: \5FAE\8F6F\96C5\9ED1;

}

.people{
    height:50px;
    float:right;
    margin-right: 30px;
}

.people img{
    width:36px;
    height:36px;
    float:left;
    margin-right:15px;
    display:block;
    margin-top:7px;
    border-radius: 50%;
}

.people span{
    height:50px;
    line-height: 50px;
    float:left;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color: #fff;
    display:block;
}

input.exit{
    height:50px;
    line-height: 50px;
    float:right;
    font-size: 14px;
    color: #fff;
    font-family: \5FAE\8F6F\96C5\9ED1;
    display:block;
    background: none;
    border:none;
}



.banner{
    width:100%;
    height:auto;
    position: relative;
}

.banner .center{
    width:1162px;
    height:100%;
    position: absolute;
    top:0;
    left:50%;
    margin-left:-581px;
    overflow: visible;
}

.banner img{
    width:100%;
    height:100%;
}

label{
    display:block;
    position: relative;
    width:100%;
}

.register_box{
    width:320px;
    height:348px;
    background: url(../images/yun/register_box.png) no-repeat;
    position:absolute;
    top:5px;
    z-index:10;
    overflow: visible;
    right:0;
}

.register_box .title{
    height:60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-weight: bold;
}

.register_input{
    width:270px;
    height:38px;
    line-height: 38px;
    border:1px solid #8f8f8f;
    margin-left:24px;
    margin-bottom:14px;
    display:block;
    text-indent: 40px;
    font-size: 14px;
    color: #000;
    font-family: \5FAE\8F6F\96C5\9ED1;
    border-radius: 5px;
}

.registerImg1{
    left:25px;
    width:40px;
    height:38px;
    line-height: 38px;
    position: absolute;
    background: url(../images/yun/text1.png) no-repeat 15px center;
}

.registerImg2{
    left:25px;
    width:40px;
    height:38px;
    line-height: 38px;
    position: absolute;
    background: url(../images/yun/password1.png) no-repeat 15px center;
}

.registerImg1.fillout{

    background: url(../images/yun/text2.png) no-repeat 15px center;
}

.registerImg2.fillout{
    background: url(../images/yun/password2.png) no-repeat 15px center;
}

.remember{
    width:272px;
    height:16px;
    margin:0 auto 18px;
}

.remember li{
    width:100px;
    height:16px;
    line-height: 16px;
    cursor:pointer;
    text-indent: 26px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color:#8f8f8f;
    font-size: 14px;
    position: relative;
    float:left;
    background: url(../images/yun/checked1.png) no-repeat;
}

.remember li.checked{
    background: url(../images/yun/checked2.png) no-repeat;
}

.remember li input{
    width:16px;
    height:16px;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;

}

.remember li.left{
    float:left;
}

.remember li.right{
    float:right;
}



.register_submit{
    width:272px;
    height:40px;
    line-height: 40px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color:#fff;
    text-align: center;
    font-size: 14px;
    display:block;
    margin:0 auto 14px;
    background-color: #ffad00;
    border:none;
    border-radius: 5px;
}

.forget{
    width:272px;
    height:16px;
    margin:0 auto 0;
}

.forget a{
    height:16px;
    line-height: 16px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color:#8f8f8f;
    font-size: 14px;
    display:block;
}

.forget a.left{
    float:left;
}

.forget a.right{
    float:right;
}

.inputSubnmit{
    width:380px;
    margin:20px auto 0;
}

.submitL{
    width:170px;
    height:40px;
    line-height: 40px;
    float:left;
    background-color: #ffad00;
    color: #fff;
    font-family: \5FAE\8F6F\96C5\9ED1;
    border-radius: 5px;
    border:none;
}

.resetR{
    width:170px;
    height:40px;
    line-height: 40px;
    float:right;
    background-color: #ffad00;
    color: #fff;
    font-family: \5FAE\8F6F\96C5\9ED1;
    border-radius: 5px;
    border:none;
}

.container{
    width:100%;
    background-color: #f4f4f4;
    position: relative;
}

.container .center{
    width:1162px;;
    margin:0px auto 0;

}

.container_title{
    height:50px;
    background-color: #444444;
}

.container_title .center{
    width:960px;
    margin:0 auto 0;
    font-family: \5FAE\8F6F\96C5\9ED1;
    height:50px;
    line-height:50px;
    color:#ffffff;
    font-size: 14px;
    white-space: pre;
}

.container_title .center span{
    color:#ffad00;
}

.register_nav{
    width:1162px;

}

.register_nav nav{
    width:1182px;
}

.register_nav a{
    width:280px;
    height:242px;
    float:left;
    display:block;
    margin-right:14px;
    margin-bottom:14px;
}

.datum{
    width:960px;
    margin:0 auto 0;
    padding:10px 0px;
}

.datum_l{
    width:238px;
    float:left;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin-right:10px;
}

.datum_l li{
    height:50px;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
    font-size:16px;
    color: #444444;
    font-family: \5FAE\8F6F\96C5\9ED1;
    text-indent:105px;
}

#basic_message{
    background:url(../images/yun/basic_message1.png) no-repeat 57px center;
}

#basic_message.selected{
    background: #ffad00 url(../images/yun/basic_message2.png) no-repeat 57px center;
}

#bindInviteCode{
    background:url(../images/yun/bindInviteCode1.png) no-repeat 57px center;
}

#bindInviteCode.selected{
    background:#ffad00 url(../images/yun/bindInviteCode2.png) no-repeat 57px center;
}

#mailbox{
    background:url(../images/yun/mailbox1.png) no-repeat 57px center;
}

#mailbox.selected{
    background: #ffad00 url(../images/yun/mailbox2.png) no-repeat 57px center;
}

#phone{
    background:url(../images/yun/phone1.png) no-repeat 60.5px center;
}

#phone.selected{
    background:#ffad00 url(../images/yun/phone2.png) no-repeat 60.5px center;
}

#amend_password{
    background:url(../images/yun/amend_password1.png) no-repeat 60px center;
}

#amend_password.selected{
    background:#ffad00 url(../images/yun/amend_password2.png) no-repeat 60px center;
}

#news{
    background:url(../images/yun/new1.png) no-repeat 57px center;
}

#news.selected{
    background:#ffad00 url(../images/yun/new2.png) no-repeat 57px center;
}

.datum_l li a{
    color: #444444;
    text-decoration: none;
    display:block;
}

.datum_l li a.selected{
    color: #fff;
}

.datum_r{
    width:712px;
    float:left;
    background-color: #fff;
    border:1px solid #e6e6e6;
    padding:10px 50px;
}

#content1{
    position: relative;
    overflow: hidden;
}

a.edit{
    position: absolute;
    width:100px;
    height:34px;
    display:block;
    right:0;
    top:0;
}

a.edit:link{
    background: url('../../static/images/yun/edit1.png') no-repeat;
}

a.edit:hover{
    background: url('../../static/images/yun/edit2.png') no-repeat;
}

a.edit:active{
    background: url('../../static/images/yun/edit3.png') no-repeat;
}


.long_input_box{
    width:564px;
    margin:0px auto 0;
}

.long_input_top{
    width:100%;
    height:34px;
}

.input_font{
    width:65px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color:#444444;
    height:34px;
    line-height:34px;
    font-size:14px;
    float:left;
}

.long_input_bot{
    margin-top:15px;
    text-indent: 65px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color:#949494;
}

.email{
    width:320px;
    height:32px;
    line-height: 32px;
    border:1px solid #444444;
    background-color: #fff;
    float:left;
    text-indent: 20px;
    margin-right:15px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color:#949494;
}

.email_submit{
    width:120px;
    height:34px;
    line-height: 34px;
    background-color: #ffad00;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color:#ffffff;
    border-radius: 5px;
    border:none;
    text-align: center;
    float:left;
}

.message{
    width:100%;
}

.password_box{
    width:430px;
    margin:0px auto 0;
}

.password_label{
    width:100%;
    height:34px;
    margin-bottom:12px;
}

.phone_label{
    width:100%;
    height:34px;

}

.password_font{
    width:70px;
    float:left;
    height:34px;
    line-height: 34px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color:#364049;
    font-size: 14px;
    text-align: right;
}

.phone_font{
    width:50px;
    float:left;
    height:34px;
    line-height: 34px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color:#364049;
    font-size: 14px;
    margin-right:15px;
}

.phone_strong{
    width:100%;
    height:36px;
    line-height: 36px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color:#949494;
    font-size: 14px;
    text-indent: 65px;
}

#phone_input{
    width:188px;
    height:34px;
    line-height: 34px;
    float:left;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color:#364049;
    font-size: 14px;
    text-indent:20px;
    border:1px solid #444444;
    margin-right:15px;
}

#code{
    width:120px;
    height:34px;
    line-height: 34px;
    float:left;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color:#364049;
    font-size: 14px;
    text-indent:20px;
    border:1px solid #444444;
    margin-right:15px;
}

.phone_submit{
    width:312px;
    height:40px;
    line-height: 40px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color:#fff;
    background-color: #ffad00;
    float:right;
    margin-top:40px;
    border:none;
    border-radius: 5px;
    margin-right:45px;
}

.message_submit{
    width:220px;
    height:40px;
    line-height: 40px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color:#fff;
    background-color: #ffad00;
    border: none;
    border-radius: 5px;
    margin:40px auto 0;
}

.second{
    height:34px;
    line-height: 34px;
    float:left;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color:#ee4040;
    font-size: 14px;
}

.get_phone{
    width:108px;
    height:34px;
    line-height: 34px;
    float:right;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color:#fff;
    margin-right:50px;
    font-size: 14px;
    text-align: center;
    background-color: #72bcc5;
    border-radius:5px;
    cursor:pointer;
    border:none;
}

.password{
    width:294px;
    float:left;
    height:32px;
    line-height: 32px;
    border:1px solid #444444;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color:#364049;
    font-size: 14px;
    text-indent: 20px;
    margin-left:20px;
}

.password_r{
    width:296px;
    height:34px;
    float:right;
}

.password_strong{

}

.password_strong li{
    width:68px;
    height:9px;
    float:left;
    margin-right:10px;
    border: 1px solid #949494;
}

.password_strong li.ddd1{
    width:70px;
    height:9px;
    background-color: #f65a5b;
    border:none;
}

.password_strong li.ddd2{
    width:70px;
    height:9px;
    background-color: #ffad00;
    border:none;
}

.password_strong li.ddd3{
    width:70px;
    height:9px;
    background-color: #74bc41;
    border:none;
}


.password_strong_font{

}

.password_strong_font li{
    width:70px;
    height:25px;
    line-height: 25px;
    margin-right:10px;
    float:left;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color: #959595;
    text-align: center;
}

.password_strong_font li.ddd1{
    color:#f65a5b;
}

.password_strong_font li.ddd2{
    color:#ffad00;
}

.password_strong_font li.ddd3{
    color:#74bc41;
}

.save{
    width:296px;
    height:40px;
    line-height:40px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color: #fff;
    text-align: center;

    background-color: #ffad00;
    border:none;
    border-radius: 5px;
    margin:30px auto 0;
}

.message_l{
    width:80px;
    float:left;
    line-height:35px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color: #444444;
    text-align: left;
    margin-right:10px;
}

.message_r{
    float:left;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color: #444444;
    line-height:35px;
}

.message_rr{
    width:400px;
    float:left;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color: #444444;
    line-height:30px;
    height:30px;
    border: 1px solid #333;
    margin-top:2px;
    text-indent: 20px;
}

.up-img{
    width:100px;
    height:100px;
    position: relative;
    background: url('../../static/images/yun/peop.png') no-repeat;
}

.up-img input{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity: 0;
}

.select{
    width:135px;
    height:34px;
    line-height:34px ;
    float:left;
    border:1px solid #444444;
    position: relative;
    overflow: visible;
    font-family: \5FAE\8F6F\96C5\9ED1;
    cursor: pointer;

}

.select dt{
    width:100%;
    position: relative;
    z-index:10;
    top:0;
    left:0;
    height:34px;
    line-height:34px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color:#444444;
    font-weight:normal;
    background: url('../../static/images/yun/sele.png') no-repeat 110px center;
    text-indent: 20px;
}

.select dd{
    width:105px;
    display:none;
    position: absolute;
    top:0;
    border-top: 1px solid #ffad00;
    border-left: 1px solid #ffad00;
    border-right: 1px solid #ffad00;
}

.select ul{
    width:100%;
}

.select ul li{
    height:34px;
    line-height:34px ;
    color:#444444;
    font-size: 14px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #ffad00;
}

.select ul li:hover{
    background: #ffad00;
    color:#fff;
}

.message_text{
    width:400px;
    height:100px;
    float:left;
    border:1px solid #000;
    overflow-y:scroll;
    word-break:break-all;
    text-indent: 20px;
    font-size: 14px;
    color:#000;
}

.viewInfo{
    display: block;
    line-height: 35px;
}

#user_name{
    height:34px;
    line-height: 34px;
    width:380px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color: #444444;
    float:left;
    border:1px solid #444444;
    margin-top:3px;
    text-indent: 20px;
}

.sex{
    height:40px;
    float:left;
}

.sex li{
    float:left;
    height:40px;
    line-height:40px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color: #444444;
    background: url(../images/yun/checked3.png)no-repeat 0 center;
    margin-right:40px;
    text-indent: 25px;
    cursor:pointer;
    position: relative;
}
.sex li.selected{
    background: url(../images/yun/checked4.png)no-repeat 0 center;
}

.message select{
    width:138px;
    height:34px;
    line-height: 34px;
   border:1px solid #444444;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color:#444444;
    text-align: center;
    float:left;
}


.peo_text{
    width:382px;
    min-height:102px;
    height: auto;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color:#444444;
    line-height: 20px;
    background: none;
    border: none;
    border:1px solid #444444;
    text-indent: 2em;
    display: block;
}

.papers{
    width:250px;
    height:34px;
    line-height: 34px;
    float:left;
    border:1px solid #444444;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color:#444444;
    margin-left:12px;
    text-indent:20px;
}

.sex li input{
    position: absolute;
    width:14px;
    height:14px;
    top:13px;
    left:0;
   opacity: 0;
    filter: Alpha(opacity=0);
}

.bound{
    float:left;
    line-height:35px;
    display:block;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color:#ffad00;
}

.head_img{
    width:100px;
    height:100px;
    background-color: #d9d9d9;
    margin-top:15px;
    position: relative;
}

.head_img_strong{
    color:#959595;
    height:34px;
    line-height: 34px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    text-indent: 95px;
}



.head_file{
    position: absolute;
    top:0;
    left:0;
    width:100px;
    height:100px;
    opacity: 0;
}

.partner{
    width:50%;
    float:left;
}

.partner .title{
    height:60px;
    line-height: 60px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 20px;
    color: #353535;
}

.partner_icon{

}

.partner_icon li{
    width:122px;
    height:77px;
    float:left;
    margin-right:6px;
    margin-bottom:6px;
}

.partner_icon li img{
    width:100%;
    height:100%;
}

.servicIcon{
    width:60px;
    height:60px;
    position: absolute;
    right:10px;
    bottom:10px;
    background: url(../../static/images/yun/servicIcon1.png);
    cursor:pointer;
    z-index:1;

}

.servicIcon:hover{
    background: url(../../static/images/yun/servicIcon2.png);

}

.servicIcon2{
    width:60px;
    height:60px;
    position: absolute;
    top:0;
    left:0;
    background: url(../../static/images/yun/servicIcon3.png);
    z-index:2;
    display: none;
}

.serverWindow{
    width:1020px;
    height:750px;
    margin:20px auto 20px;
    background-color: #ffffff;
    border:1px solid #b5b5b5;
    box-shadow:0px 0px 5px #b5b5b5;
    overflow: visible;
    display: none;
}

.serverTop{
    width:100%;
    height:60px;
    background-color: #ffad00;
    position: relative;
    overflow: visible;
}

.robot{
    width:90px;
    height:80px;
    float:left;
    margin-top:-20px;
    background: url(../../static/images/yun/robot.png);
}

.robotTitle{
    height:60px;
    line-height: 60px;
    float:left;
    margin-left:20px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 20px;
    color: #f7fbfb;
}


.closeRobot{
    float:right;
}

.closeRobot li{
    width:60px;
    height:60px;
    float:left;
    cursor:pointer;
}

.closeRobot li.close1{
    background: url(../../static/images/yun/close1.png) no-repeat center;
}

.closeRobot li.close1:hover{
    background: url(../../static/images/yun/close11.png) no-repeat center;
}

.closeRobot li.close2{
    background: url(../../static/images/yun/close2.png) no-repeat center;
}

.closeRobot li.close2:hover{
    background: url(../../static/images/yun/close22.png) no-repeat center;
}


.closeRobot li.close3{
    background: url(../../static/images/yun/close3.png) no-repeat  center;
}

.closeRobot li.close3:hover{
    background: url(../../static/images/yun/close33.png) no-repeat center;
}


.serverSection{
    float:left;
    width:724px;

}

.dialogWindow{
    width:100%;
    height:470px;
    background-color: #e3e3e3;
    overflow-y: auto;
}

.dialog1{
    padding:0 20px;
    width:624px;
    margin-top:20px;
    float:left;
}

.dialog2{
    padding:0 20px;
    width:624px;
    margin-top:20px;
    float:right;
}

.sendWindow{
    width:100%;
    height:219px;
    border-top:1px solid #dadada;

}

.sendWindowTop{
    width:100%;
    height:40px;
    border-bottom:1px solid #dadada;
}

.sendText{
    width:100%;
    height:178px;
    position: relative;
}


.sendText textarea{
    width:100%;
    height:120px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    color:#323232;
    border:none;
    line-height: 16px;
}

.sendTo{
    width:140px;
    height:40px;
    line-height: 40px;
    background-color: #f3a80a;
    position: absolute;
    right:10px;
    bottom:10px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    text-align: center;
    font-size: 14px;
    color:#fff;
    border:none;
}

.serverAside{
    float:left;
    width:294px;
    height:690px;
    border-left:1px solid #dadada;

}

.robotImg{
    width:60px;
    height:60px;
    border-radius: 50%;
    float:left;
}

.peoImg{
    width:60px;
    height:60px;
    border-radius: 50%;
    float:right;
}

.talk1{
    width:520px;
    float:right;
}

.talk2{
    width:520px;
    float:left;
}



.talkL{
    width:7px;
    height:14px;
    background: url(../../static/images/yun/l.png);
    float:left;
    margin-top:23px;
}

.talkLL{
    width:7px;
    height:14px;
    background: url(../../static/images/yun/r.png);
    float:right;
    margin-top:23px;
}

.talkR{
    max-width:493px;
    float:left;
    font-family: \5FAE\8F6F\96C5\9ED1;
    background-color: #fff;
    border-radius: 5px;
    color:#323232;
    font-size: 14px;
    padding:10px;
    word-wrap: break-word;
}

.talkRR{
    max-width:493px;
    float:right;
    font-family: \5FAE\8F6F\96C5\9ED1;
    background-color: #58b3f7;
    border-radius: 5px;
    color:#323232;
    font-size: 14px;
    padding:10px;
    word-wrap: break-word;
}

.talkR span{
    color:#58b3f7;
}

.textOperate{
margin-left:20px;
}

.textOperate li{
    width:40px;
    height:40px;
    float:left;
}

.textOperate li.O1{
    background: url(../../static/images/yun/O1.png) no-repeat center;
}

.textOperate li.O1:hover{
    background: url(../../static/images/yun/O11.png) no-repeat center;
}

.textOperate li.O2{
    background: url(../../static/images/yun/O2.png) no-repeat center;
}

.textOperate li.O2:hover{
    background: url(../../static/images/yun/O22.png) no-repeat center;
}

.textOperate li.O3{
    background: url(../../static/images/yun/O3.png) no-repeat center;
}

.textOperate li.O3:hover{
    background: url(../../static/images/yun/O33.png) no-repeat center;
}

.help{
    width:100%;
    margin-top:60px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    text-align: center;
    font-size: 24px;
    color:#323232;
}

.helpWay{
    margin-top:60px;
    overflow: visible;
}

.helpWay li{
    width:100%;
    margin-bottom:40px;

}

.helpImg{
    width:100%;
    height:66px;
    margin-bottom:10px;
    position: relative;
    overflow: visible;
}

.h1{
    background: url(../../static/images/yun/helpImg1.png) no-repeat center;
}

.h1:hover{
    background: url(../../static/images/yun/helpImg11.png) no-repeat center;
}

.h2{
    background: url(../../static/images/yun/helpImg2.png) no-repeat center;
}

.h2:hover{
    background: url(../../static/images/yun/helpImg22.png) no-repeat center;
}

.h3{
    background: url(../../static/images/yun/helpImg3.png) no-repeat center;
}

.h3:hover{
    background: url(../../static/images/yun/helpImg33.png) no-repeat center;
}

.weichar{
    width:187px;
    height:178px;
    position: absolute;
    background: url(../../static/images/yun/weichar.png) no-repeat center;
    top:-55px;
    left:200px;
    display:none;
}


.helpFont{
    width:100%;
    line-height: 22px;
    text-align: center;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color:#020202;
    font-size: 14px;
}

.footer{
    background-color: #353535;
}

.footer .center{
    width:960px;
    margin:0 auto;
    padding:30px 0;
    position: relative;
}

.foot-size{
    height:28px;
    line-height: 28px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    white-space: pre;
    color:#959595;
    font-size: 14px;
    text-align: center;
}

.footer .center span{
    height:30px;
    line-height: 30px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    white-space: pre;
    text-align: center;
    color:#959595;
    display:block;
    font-size: 14px;
}

.footer .center img{
    width:94px;
    height:94px;
    display:block;
}

.android{
    width:94px;
    position: absolute;
    right:0;
    top:20px;
}

.ios{
    width:94px;
    position: absolute;
    right:140px;
    top:20px;
}



