<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsjc.ssoCenter.core.mapper.UserResourceMapper" >
  <resultMap id="BaseResultMap" type="com.hsjc.ssoCenter.core.domain.UserResource" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userId" property="userId" jdbcType="BIGINT" />
    <result column="resourceId" property="resourceId" jdbcType="BIGINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, userId, resourceId
  </sql>

  <insert id="insert" parameterType="UserResource">
    insert into tbuserresource 
    (userId,
    resourceId)
    values
    (#{userId},
    #{resourceId})
  </insert>

  <insert id="insertSelective" parameterType="UserResource">
    insert into tbuserresource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="resourceId != null" >
        resourceId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="resourceId != null" >
        #{resourceId},
      </if>
    </trim>
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbuserresource
    where id = #{id}
  </delete>

  <update id="updateByPrimaryKeySelective" parameterType="UserResource">
    update tbuserresource
    <set >
      <if test="userId != null" >
        userId = #{userId},
      </if>
      <if test="resourceId != null" >
        resourceId = #{resourceId},
      </if>
    </set>
    where id = #{id}
  </update>

  <update id="updateByPrimaryKey" parameterType="UserResource">
    update tbuserresource
    set userId = #{userId},
      resourceId = #{resourceId}
    where id = #{id}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List" />
    from tbuserresource
    where id = #{id}
  </select>
</mapper>