<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/backstage">
    <head></head>
    <body>
        <div id="content1" layout:fragment="content">
            <div class="index_title">首页</div>
            <ul class="index_mess">
                <li class="l1">
                    <span class="number">0</span>
                    <span class="user_fn">新消息</span>
                </li>
                <li class="l2">
                    <span class="number">0</span>
                    <span class="user_fn">新增用户</span>
                </li>
                <li class="l3">
                    <span class="number">0</span>
                    <span class="user_fn">总用户数</span>
                </li>
            </ul>
            <table class="user_task">
                <tbody>
                    <tr>
                        <th>待办任务</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>