<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/backstage">
    <head></head>
    <body>
        <div id="content" layout:fragment="content">
            <div class="index_title">站点基本设置</div>

            <script type="text/javascript" th:src="@{/static/scripts/backstage/siteBasic.js}" src="/static/scripts/backstage/siteBasic.js"></script>
        </div>
    </body>
</html>